<%= form_for checksum, url: checksum_path,
  remote: true, data: {
    type: :json,
    controller: 'checksum-form',
    action: 'ajax:success->checksum-form#showOutput',
    checksum_form_empty_output: checksum.output
  } do |f| %>
  <div class="form_field compact inline">
    <div class="field_label right">
      <%= f.label :input %>
    </div>
    <div class="field_input">
      <%= svg_icon('icons.svg', 'doc_text', class: 'field_icon') %>
      <%= f.text_field :input %>
    </div>
  </div>

  <%= info_panel_tag t('checksum.messages.rules').html_safe, class: 'inline text_only' %>

  <div class="form_field compact inline">
    <div class="field_label right">
      <%= label_tag nil, t('helpers.label.checksum.output') %>
    </div>
    <div class="field_input">
      <%= data_label do %>
        <span class="checksum_output" data-target="checksum-form.output">
          <%= checksum.output %>
        </span>
      <% end %>
    </div>
  </div>

  <%= form_actions inline: true do %>
    <%= f.submit t('checksum.actions.create'), class: 'button' %>
  <% end %>
<% end %>
